:root {
  /* Primary Colors */
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);

  /* Neutral Colors */
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 10%, 34%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  /* Other */
  --in-b-rad: 10px;
  --p-f-size: 16px;
}

/* fonts */
@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
  font-weight: 100 900;
}

body {
  font-family: "Outfit";
  color: var(--wenge-brown);
  margin: 0;
  background-color: var(--eggshell);
}

.container {
  background-color: white;
  max-width: 44rem;
  padding: 2rem;
  margin: 5rem auto;
  border-radius: 16px;
}

img {
  width: 100%;
  border-radius: var(--in-b-rad);
}

h1 {
  font-family: "Young serif";
  color: var(--dark-charcoal);
}

section {
  padding-bottom: 1rem;
}

.section-heading {
  font-family: "Young serif";
  color: var(--nutmeg);
}

ul,
ol {
  padding-left: 1.5rem;
}

li {
  padding-left: 1.5rem;
  vertical-align: middle;
  margin-bottom: 12px;
}

.bold {
  font-weight: 700;
}

.bc {
  color: var(--nutmeg);
}

.line {
  border-bottom: 1px solid #00000033;
}

#prep-time {
  background-color: var(--rose-white);
  padding: 1.5rem 1rem 1.5rem 2rem;
  border-radius: var(--in-b-rad);
}

#prep-time > h2 {
  margin-top: 0;
  color: var(--dark-raspberry);
}

#prep-time > ul {
  margin: 0;
  padding: inherit;
  padding: 0rem 2rem !important;
}

ul > li:last-child {
  margin: 0;
}

ol > li:last-child {
  margin: 0;
}

ul > li::marker {
  color: var(--nutmeg);
  font-size: 12px;
}

#prep-time > ul > li::marker {
  color: var(--dark-raspberry);
}

ol > li::marker {
  color: var(--nutmeg);
  font-weight: 700;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 50%;
  padding: 1rem;
  border-bottom: 1px solid #00000033;
}

tr > td:nth-child(1) {
  padding-left: 2rem;
}

@media (max-width: 40rem) {
  .container {
    margin: 0;
    border-radius: 0;
    padding: 0;
    padding-bottom: 2rem;
  }

  img {
    border-radius: 0;
  }

  section,
  h1,
  .container > p {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
